In [2]:
import pandas as pd
%matplotlib inline

In [3]:
df1 = pd.read_csv("cases.csv")
df1

,Cases,Number of labs,Cases received,Cases analyzed,Backlog of cases,Year
0,Casework,81,20707,15884,NaN,1999
1,Known subject,77,13809,10987,NaN,1999
2,Unknown subject,77,4155,2408,NaN,1999
3,Convicted offender,92,100242,61036,NaN,1999
4,Casework,88,31394,24790,15981.0,2000
5,Known subject,83,18125,14999,5068.0,2000
6,Unknown subject,83,7244,4070,5606.0,2000
7,Convicted offender,91,177184,148347,265329.0,2000
8,Known subject,58,11479,8812,NaN,1996
9,Unknown subject,49,3663,1339,NaN,1996
10,Convicted offender,66,71926,36893,NaN,1996
11,Known subject,75,15595,12095,2738.0,1997
12,Unknown subject,62,5198,2194,4062.0,1997
13,Convicted offender,69,115681,44810,286819.0,1997

In [4]:
df1.dtypes

Cases                object
Number of labs        int64
Cases received        int64
Cases analyzed        int64
Backlog of cases    float64
Year                  int64
dtype: object

In [8]:
df1.groupby('Cases')['Cases analyzed'].sum().sort_values(ascending=False)

Cases
Convicted offender    291086
Known subject          46893
Casework               40674
Unknown subject        10011
Name: Cases analyzed, dtype: int64

In [9]:
(df1.groupby('Cases')['Cases analyzed'].sum()) / (df1['Cases analyzed'].sum())

Cases
Casework              0.104651
Convicted offender    0.748940
Known subject         0.120652
Unknown subject       0.025757
Name: Cases analyzed, dtype: float64