In [1]:
import pandas as pd
import numpy as np

In [2]:
# with open('jester_items.dat','r') as f:
#     df = pd.DataFrame(l.rstrip().split() for l in f)

# print(df)

In [3]:
df11 = pd.read_excel("jester-data-11.xls", na_values=99.0)

In [4]:
df12 = pd.read_excel("jester-data-12.xls", na_values=99.0)

In [5]:
df13 = pd.read_excel("jester-data-13.xls", na_values=99.0)

In [6]:
df1_list = [df11, df12, df13]
df1 = pd.concat(df1_list, ignore_index=True)

In [7]:
df1.head()

,total_number,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,74,-7.82,8.79,-9.66,-8.16,-7.52,-8.50,-9.85,4.17,-8.98,...,2.82,NaN,NaN,NaN,NaN,NaN,-5.63,NaN,NaN,NaN
1,100,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,...,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07
2,49,NaN,NaN,NaN,NaN,9.03,9.27,9.03,9.27,NaN,...,NaN,NaN,NaN,9.08,NaN,NaN,NaN,NaN,NaN,NaN
3,48,NaN,8.35,NaN,NaN,1.80,8.16,-2.82,6.21,NaN,...,NaN,NaN,NaN,0.53,NaN,NaN,NaN,NaN,NaN,NaN
4,91,8.50,4.61,-4.17,-5.39,1.36,1.60,7.04,4.61,-0.44,...,5.19,5.58,4.27,5.19,5.73,1.55,3.11,6.55,1.80,1.60

In [ ]:
df1.to_csv("jester1final150cols.csv")

In [ ]:
df2 = pd.read_excel("jester3final151cols.xls", na_values=(99.0, 99))

In [ ]:
df2.head()

In [ ]:
df2[1].replace(99, np.nan, inplace=True)
df2[2].replace(99, np.nan, inplace=True)
df2[3].replace(99, np.nan, inplace=True)
df2[4].replace(99, np.nan, inplace=True)
df2[6].replace(99, np.nan, inplace=True)
df2[9].replace(99, np.nan, inplace=True)
df2[10].replace(99, np.nan, inplace=True)
df2[11].replace(99, np.nan, inplace=True)
df2[12].replace(99, np.nan, inplace=True)
df2[14].replace(99, np.nan, inplace=True)

In [ ]:
df2.head()

In [ ]:
df2.shape

In [ ]:
df2.to_csv("jester2final150cols.csv")

In [77]:
df1.mean().sort_values(ascending=False).head()

total_number    56.337560
50               3.362593
89               3.348026
32               2.974698
36               2.917245
dtype: float64

In [88]:
df2.mean().sort_values(ascending=False).head()

total_number    34.104967
53               3.714249
105              3.711070
89               3.606178
129              3.583135
dtype: float64

In [96]:
df1[50].count()

70449

In [98]:
df2[53].count()

23101